.box{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
}

.menu{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 300px;
    background-color: orchid;
}

.menu.active{
    display: block;
}